ENVIRONMENT=dev # dev, prod
DEBUG=True # True, False
SECRET_KEY=your_secret_key_here
GEMINI_API_KEY=
TAVILY_API_KEY=

DATABASE_URL=postgresql+asyncpg://tradebrain_user:tradebrain_password@localhost:5432/tradebrain_db
POSTGRES_USER=tradebrain_user
POSTGRES_PASSWORD=tradebrain_password
POSTGRES_DB=tradebrain_db
POSTGRES_PORT=5432
