fastapi
uvicorn
python-dotenv
requests
pydantic
sqlalchemy
asyncpg
aiosqlite
greenlet
psycopg2-binary
yfinance
tavily-python
google-genai
schedule
structlog

# --- Dev Tools ---
black
isort
flake8
mypy
autopep8
types-requests
types-python-dateutil